<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCSD_Control_Panel_2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PCSD_Control_Panel_2._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PCSD_Control_Panel_2._0.Properties.Settings>
            <setting name="port" serializeAs="String">
                <value />
            </setting>
            <setting name="buad_rate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="update_speed" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="status" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="appName" serializeAs="String">
                <value>PCSD Control Panel</value>
            </setting>
            <setting name="autoStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </PCSD_Control_Panel_2._0.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PCSD_Control_Panel_2._0.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value>0.1</value>
            </setting>
        </PCSD_Control_Panel_2._0.Properties.Settings>
    </applicationSettings>
</configuration>